/*
* 菜单样式
* 此文件包括
*    1. 菜单相关样式：包括展开收起样式
*    2. 顶部tab栏相关样式
*/

@import "theme";


#yt-theme-light {
  // 菜单选中默认样式
  .el-menu {

    .el-menu-item {
      height: 36px !important;
      margin: 2px 5px !important;
      box-sizing: border-box !important;
      border-radius: 3px !important;
    }

    .el-menu-item.submenu-title-noDropdown {
      .el-menu-tooltip__trigger {
        left: -5px !important;
      }
    }

    .router-link-active {
      .el-menu-item {
        background-color: $--color-menu-main;
      }

      .el-menu-item:hover {
        background-color: $--color-menu-main !important;
      }
    }

    .el-sub-menu {

      .router-link-active {
        .el-menu-item {
          min-width: 190px !important;
          height: 36px !important;
          margin: 2px 5px !important;
          box-sizing: border-box !important;
          border-radius: 3px !important;
        }
      }

      .el-sub-menu__title:hover {
        //background-color: $--color-menu-main !important;
      }
    }

    .el-sub-menu.is-active > .el-sub-menu__title {
      color: $--color-button-primary !important;
    }

    .nest-menu {
      .el-sub-menu.is-active {
        .el-sub-menu__title {
          color: $--color-button-primary !important;
        }
      }
    }

  }

  .el-menu:not(.el-menu--collapse) {
    .el-sub-menu {
      min-width: 190px !important;
      margin: 2px 5px !important;
      box-sizing: border-box !important;
      border-radius: 3px !important;
    }
  }

  // menu hover
  .sub-menu-title-noDropdown,
  .el-sub-menu__title, .el-menu-item {
    &:hover {
      background-color: transparent !important;
      color: $--color-button-primary;
    }
  }

  & .nest-menu .el-sub-menu > .el-sub-menu__title,
  & .el-sub-menu .el-menu-item {
    min-width: $base-sidebar-width !important;

    &:hover {
      background-color: transparent !important;
      color: $--color-button-primary;
    }
  }

  // tab切换菜单样式
  .hasTagsView {
    .el-scrollbar {
      .tags-view-item.active {
        background-color: $--color-menu-main !important;
        border-color: $--color-menu-main !important;
        color: $--color-button-primary !important;
      }

      .el-icon-close:hover {
        background-color: #b6c3dd !important;
      }

    }

    .topmenu-container {
      .el-menu-item {
        height: 50px !important;
        line-height: 50px !important;
      }

      .el-menu-item.is-active {
        color: $--color-button-primary !important;
      }

      .el-menu-item:hover {
        color: $--color-button-primary !important;
      }
    }
  }
}

